---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="À propos | MOMBO Eben" description="A propos de moi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Curieux d'en savoir plus sur le cerveau derrière les projets ? Plongez dans mon univers et découvrez qui je suis vraiment."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.jpeg"
					alt="image"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Histoire</h2>
				<div class="content">
					<p>
						Depuis mon plus jeune âge, ma passion pour les
						ordinateurs et les jeux vidéo a été une constante dans
						ma vie. Ce qui a commencé comme un simple loisir s'est
						rapidement transformé en une fascination profonde pour
						le fonctionnement des logiciels et des systèmes
						informatiques. Chaque moment passé devant l'écran était
						une opportunité d'apprendre, d'explorer et de repousser
						les limites de ma compréhension.
					</p>
					<p>
						Avec le temps, cette passion est devenue le moteur de ma
						formation en développement de logiciels. Guidé par un
						désir ardent de créer et d'innover, j'ai entrepris un
						voyage d'apprentissage continu, acquérant des
						compétences techniques et une expertise dans le domaine
						du développement logiciel.
					</p>
					<p>
						Aujourd'hui, cette passion qui a germé dans mon enfance
						continue de m'inspirer, me motivant à relever de
						nouveaux défis et à contribuer de manière significative
						au monde de la technologie.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Éducation</h2>
				<div class="content">
					<p>
						J'ai récemment obtenu une <strong
							>Licence professionnelle</strong
						> à l'Institut National de la Poste des Technologies de l’Information
						et de la Communication (INPTIC). Auparavant, j'avais déjà complété
						un <strong>Diplôme de Technicien Supérieur</strong> dans
						la même institution durant la période de <strong
							>2022</strong
						> à <strong>2023</strong>. Mon parcours académique a
						débuté avec l'obtention de mon <strong
							>Baccalauréat</strong
						> en 2020 au Lycée Notre Dame de Quaben.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<div class="image-grid">
						<img
							width="70"
							height="70"
							src="/assets/icons8-github-375.png"
							alt="Skill 2"
						/>
						<img
							width="70"
							height="70"
							src="/assets/bootstrap.png"
							alt="Skill 3"
						/>
						<img
							width="70"
							height="70"
							src="/assets/js.png"
							alt="Skill 3"
						/>
						<img
							width="70"
							height="70"
							src="/assets/firbase.png"
							alt="Skill 3"
						/>
						<img
							width="70"
							height="70"
							src="/assets/php.png"
							alt="Skill 3"
						/>
						<img
							width="70"
							height="70"
							src="/assets/python.png"
							alt="Skill 3"
						/>
						<img
							width="70"
							height="70"
							src="/assets/icons8-battement-240.png"
							alt="Skill 1"
						/>
						<img
							width="70"
							height="70"
							src="/assets/reactt.png"
							alt="Skill 3"
						/>
						<img
							width="70"
							height="70"
							src="/assets/unity.png"
							alt="Skill 3"
						/>
						<img
							width="70"
							height="70"
							src="/assets/cs.png"
							alt="Skill 3"
						/>
						<img
							width="70"
							height="70"
							src="/assets/cpp.png"
							alt="Skill 3"
						/>
						<img
							width="70"
							height="70"
							src="/assets/wp.png"
							alt="Skill 3"
						/>
						<img
							width="70"
							height="70"
							src="/assets/ff.png"
							alt="Skill 3"
						/>
					</div>
				</div>
			</section>
			<section></section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}
	.image-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		gap: 10px; /* Espace entre les images */
		justify-content: center; /* Centre les images horizontalement */
	}

	.image-grid img {
		max-width: 100%;
		height: 70px;
		width: 70px;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
